
.classpath

.project

.settings/fusetooling/Deploy spring-boot-kafka-camel on OpenShift.launch

.settings/org.eclipse.core.resources.prefs

.settings/org.eclipse.jdt.core.prefs

.settings/org.eclipse.m2e.core.prefs

.settings/org.eclipse.wst.common.component

.settings/org.eclipse.wst.common.project.facet.core.xml

.settings/org.eclipse.wst.validation.prefs

.settings/org.hibernate.eclipse.console.prefs

target/camel-ose-springboot-xml-1.0.0-SNAPSHOT.jar

target/camel-ose-springboot-xml-1.0.0-SNAPSHOT.jar.original

target/classes/application.properties

target/classes/logback.xml

target/classes/META-INF/MANIFEST.MF

target/fabric8/deployment.yml

target/fabric8/template-workdir/deployment.yml

target/maven-archiver/pom.properties

target/classes/META-INF/maven/org.mycompany/camel-ose-springboot-xml/pom.properties

target/classes/META-INF/maven/org.mycompany/camel-ose-springboot-xml/pom.xml

target/classes/org/mycompany/Application.class

target/classes/spring/camel-context.xml

target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst

target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
